@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main {
  margin: 0 3%;
  min-height: 100vh;
  // display: flex;
  // flex-direction: column;

  .main-wrap {
    margin: 1rem auto;

    nav {
      display: flex;
      border-bottom: 1px solid #170f49;
      padding-bottom: 12px;
      justify-content: center;

      .nav-link {
        background-color: transparent;
        padding: 4px 20px;
        margin: 4px;
        border-radius: 100px;
        font-size: 14px;
        cursor: pointer;
        color: #170f49;
        font-weight: 600;
        text-decoration: none;

        &.active {
          color: #ffff;
          background-color: #f05a27;
        }
      }
    }

    h4 {
      font-weight: 400;
    }

    .mt-4 {
      margin-top: 16px;
    }

    .mt-2 {
      margin-top: 4px;
    }

    .mt-3 {
      margin-top: 8px;
    }

    .ml-2 {
      margin-left: 4px;
    }

    .mb-4 {
      margin-bottom: 16px;
    }

    .flex {
      display: flex;
    }

    button {
      padding: 4px 8px;
      background-color: #212c5f;
      color: #ffff;
      outline: none;
      border: 0;
      font-size: 12px;
      border-radius: 4px;
      cursor: pointer;

      &.btn-add {
        background-color: #19bf22;
      }

      &.btn-delete {
        background-color: #df1a1a;
      }
    }

    input {
      padding: 6px;
      border-radius: 5px;
      margin-bottom: 7px;
      width: 14rem;
      border: 1px solid #a2a2a2;

      &:focus {
        outline: none;
      }
    }

    .justify-center {
      justify-content: center;
    }

    .text-red {
      color: red;
    }

    .found {
      font-size: 18px;
      color: ff4800;
    }
  }
}
